/* natural box model */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */
:root {
  --dark-blue: #082835;
  --darkest-blue: #04161d;
  --dark-blue-transparent: rgba(4, 22, 29, 0.6);
  --lightest-blue: #304455;
  --light-navy: #172a45;
  --blue-shadow: rgba(2,12,27,0.7);
  --dark-slate: #484d5e;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --blue: #00ddff;
  --blue-tint: rgba(0, 221, 255, 0.1);
  --font-sans: "Calibre","San Francisco","SF Pro Text",sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --fs-xxs: 12px;
  --fs-xs: 13px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 22px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

body {
  margin: 0px;
  margin-top: 100px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--darkest-blue);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fs-xl);
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  background-color: var(--dark-blue-transparent);
  box-shadow: 0px -10px 30px -5px var(--dark-blue);
  backdrop-filter: blur(7px);
  padding: 10px 40px 15px 40px;
  z-index: 10;
}
nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* background-color: #a8b2d1; */
  counter-reset: item;
}
div.amchor {
  visibility: hidden;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.header-logo svg {
  height: 50px;
  width: 50px;
}

nav ol {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.icons{
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 350px;
}
.nav-icons {
  width: 20px;
  height: 20px;
}

.nav-icons path{
  fill: var(--lightest-slate);
}

.nav-icons:hover path{
  fill: var(--blue);
}

.icons ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.icons ul li {
  margin: 0px 10px;
  list-style: none;
  height: 20px;
}

.resume {
  display: block;
  padding: 3px 8px;
  margin-bottom: 5px;
  border: var(--slate) 1px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--fs-sm);
  color: var(--lightest-slate);
  font-family: var(--font-mono);
}

.resume:hover {
  border-color: var(--blue);
  color: var(--blue);
}

nav ol li{
  margin: 0px 10px;
}

nav ol {
  padding-right: 15px;
}

nav ol li a{
  text-decoration: none;
  height: 26px;
  font-size: var(--fs-sm);
  color: var(--lightest-slate);
  font-family: var(--font-mono);
}

nav ol li a::before {
  counter-increment: item;
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--blue);
  font-size: var(--fs-sm);
  font-family: var(--font-mono);
  text-align: right;
}



#dop-down {
  background-color: var(--dark-blue-transparent);
  box-shadow: 0 10px 30px -10px var(--blue-shadow);
  backdrop-filter: blur(7px);
}

#menu {
  position: absolute;
  top: 45px;
  right: 45px;
  display: flex;
  flex-direction: column;
  padding: 5px 0px 5px 5px;
  background-color: var(--dark-blue-transparent);
  box-shadow: 0 10px 30px -10px var(--blue-shadow);
  backdrop-filter: blur(7px);
}

#menu a {
  padding:5px;
  height: 26px;
  text-decoration: none;
  font-size: var(--fs-sm);
  color: var(--lightest-slate);
  font-family: var(--font-mono);
}

.fademenu-enter {
  z-index: -1;
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
  transition-delay: 1s;
}

.fademenu-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing),transform 300ms var(--easing);
}

.menu-hover {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}


.content{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  padding: 0px 20%;
}

.section {
  flex-grow: 1;
  max-width: 900px;
  margin: 250px 0px;
  height: 500px;
  border-radius: 5px;
}

.number-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: var(--fs-heading);
  white-space: nowrap;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.number-heading::before {
  position: relative;
  bottom: -1px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--blue);
  font-family: var(--font-mono);
  font-size: var(--fs-heading);
  font-weight: 400;
}

.number-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-blue);
}

.ext-link {
  text-decoration: none;
  color: var(--blue);
}

.ext-link:hover {
  text-decoration: underline;
}

.intro{
  counter-reset: section;
  margin: 150px 0px 300px 0px;
  max-width: 100%;
  height: 500px;
  /* background-color: #2b2b2b; */
}

.intro h1 {
  margin: 0;
  /* margin-top: 20px; */
  font-size: 70px;
  color: var(--lightest-slate);
}
.intro h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
  color: var(--slate);
  line-height: 60px;
}

.intro h3 {
  margin-left: 5px;
  font-size: var(--fs-md);
  font-weight: 200;
  line-height: 25px;
  color: var(--blue);
  font-family: var(--font-mono);
}

.intro p {
  margin-left: 5px;
  margin-top: 30px;
  max-width: 500px;
}

.about-content {
  display: flex;
}

.about-content div {
  padding-right: 20px;
}

#profile {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #292c36;
}

.tabbed-area {
  display: flex;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: left;
  align-items: center;
  padding-top: 20px;
}

.tab {
  padding: 0 20px 2px 20px;
  border: none;
  width: 88px;
  height: 40px;
  background: none;
  color: var(--slate);
  outline: none;
  border-left: var(--slate) 2px solid;
  font: 400 16px Arial;
}

.tab:hover {
  cursor: pointer;
  background-color: var(--blue-tint);
}

.xp-content {
  max-width: 720px;
  min-height: 300px;
  margin-left: 30px;
  padding: 0 5px;
  font-size: 18px;
  line-height: 1.3;
  font-family: var(--font-sans);
}
.xp-content h3 {
  margin-top: 10px;
  color: var(--lightest-slate);
}

.project {
  display: flex;
  align-items: center;
}
.project img {
  width: 450px;
  border-radius: 5px;
  filter: brightness(0.9);
}
#p1 div {
  flex-grow: 1;
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  position: relative;
  right: 70px;
}

#p1 div p {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fs-md);
  font-weight: 500;
}

#p1 div h3 {
  margin: 5px 0px;
  font-size: var(--fs-xxl);
  color: var(--lightest-slate);
}

#p1 div h5 {
  color: var(--light-slate);
  font-weight: 400;
  font-size: var(--fs-sm);
  font-family: var(--font-mono);
  margin: 10px 5px;
}

#p1 div h5 span{
  color: var(--blue);
}

.fadedown-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing),transform 300ms var(--easing);
}

.fadeup-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing),transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing),transform 300ms var(--easing);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}

.loader-wrapper svg {
  position: absolute;
  left: 45%;
  top: 45%;
  bottom: 0;

}

.mlogo {
  stroke-opacity: 0%;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: fade-in 1s linear forwards;
  animation-delay: 3s;
}

.hexlogo {
  stroke-dasharray: 1730;
  stroke-dashoffset: 1730;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: dash 1.5s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fade-in {
  to {
    stroke-opacity: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 576px) {
  header {
    height: fit-content;
    padding-bottom: 20px;
  }
  nav {
    flex-direction: column;
    height: fit-content;
  }
  nav ol {
    flex-wrap: wrap;
  }
  .menu {
    top: 172px;
    right: 90px;
  }
}

@media (max-width: 768px) {
  .tabbed-area { flex-direction: column; }

  .tabs { flex-direction: row; justify-content: center; margin-bottom: 10px; padding-top: 0;}

  .tab {
    border-bottom: currentColor 1px solid;
    border-left: none;
  }
}

@media (max-width: 992px) {

}


@media (max-width: 1100px) {
  .about-content {
    flex-direction: column;
  }
  .about-content img {
    margin: 0 auto;
  }
}